$secondary: #000066; 
$danger: #BF0D3D;

@import "node_modules/bootstrap/scss/bootstrap.scss";
.download {
  background-image: url("imgs/top.png");
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.person1 {
  padding-top: 15%;
}


