$secondary: #000066;
$danger: #BF0D3D;
@use "../../../public/node_modules/bootstrap/scss/bootstrap.scss" with (
  $secondary: #000066,
  $danger: #BF0D3D
);

.downloadbg{
  background-color: #BF0D3D;
}

.person1 {
  animation: appearRight 1.5s ease-in-out;
}

.h1main {
  animation: appear 1s ease-in-out forwards;
}

.mobile {
  display: none;
}

.icons {
  animation: appear 1.5s ease-in-out forwards;
}

.textstyle {
  font-size: 15px;
  animation: appear 1.5s ease-in-out forwards;
}

.ad1 {
  animation: appearUp 1.5s ease-in-out forwards;
}

.welcome {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.phone1{
  animation: float 2s infinite ease-in-out;
}

.mission {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.vision {
  animation: appearRight linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.about-left {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.about-right {
  animation: appearRight linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.ad2-1 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.ad2-2 {
  animation: appearRight linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.servicetext {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.bgservice {
  animation: appearUp linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.card1 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.card2 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.card3 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.ad3 {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.ad3-2 {
  animation: appearRight linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.textimonial {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.testimonial1 {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.cardtest {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0 cover 50%;
}

.contactbg {
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

.iconleft {
  animation: appearUp .5s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

.iconcen {
  animation: appearUp 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

.iconright {
  animation: appearUp 1s linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.services {
    background-color: #BF0D3D;
    height: auto;
}

.services-card {
    transition: 0.3s;
    border-style: solid;
    border-width: thin;
}

.services-card:hover {
    box-shadow: 10px 10px;
    transition: 0.3s;
    border-style: solid;
    border-color: white;
}

.contact {
    margin-top: 200px;
    width: 100%;
    height: auto;
    background-color: #BF0D3D;
}



.contact_button{
  transition: 0.3s;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

.contact_button:hover {
    box-shadow: 5px 5px;
    transition: 0.3s;
    border-style: solid;
}
.contact_info {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50%;
    transition: 0.5s;
    background-color: transparent;
}

.contact_info:hover {
    transition: 0.5s;
    box-shadow: 5px 5px;
}

.icon-img {
    width: 50%;
    height: auto;
}

.contact_nav a{
  text-decoration: none;
  color: white;
}

.contact_nav a:hover, .contact_nav p:hover{
  text-decoration:underline;
}

footer{
  background-color: #BF0D3D;
}

//nav bar
.navbar {
  background-color: transparent;
  margin: 1rem auto;
  max-width: 100%;
  position: relative;
  transition: background-color 0.4s ease;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  .nav-item {
    z-index: 10;
  }
  .nav-item.logo {
    width: 100px;
    cursor: pointer;
    opacity: 1 !important;
    position: relative;
    z-index: 1;
  }

  .nav-left,
  .nav-right {
    position: absolute;
    top: 0;
    height: fit-content;
    border-radius: 50px;
    transition: width 0.5s ease, opacity 0.5s ease;
    overflow: hidden;
    opacity: 0;
    width: 0%;
    z-index: 0;

    li.nav-link {
      transition: all 0.5s ease;
      transform: scale(0.1);
      opacity: 0;
    }
  }

  .nav-right {
    left: 50%;
    transform: none;
  }

  .nav-left {
    right: 50%;
    transform: none;
  }

  &:hover .nav-left,
  &:hover .nav-right {
    width: 40%;
    opacity: 1;

    li.nav-link {
      transform: scale(1);
      opacity: 1;
    }
  }

  &.show-nav .nav-left,
  &.show-nav .nav-right {
    width: 40%;
    opacity: 1;

    li.nav-link {
      transform: scale(1);
      opacity: 1;
    }
  }
  .custom-toggler div {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    transition: 0.4s;
  }

  /* Animate to X */
  .navbar-toggler:not(.collapsed) .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .navbar-toggler:not(.collapsed) .bar2 {
    opacity: 0;
  }

  .navbar-toggler:not(.collapsed) .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

//TESTIMONIALS  
.owl-carousel .owl-item {
  opacity: 0.3;
  transition: opacity 0.1s ease, transform 0.5s ease-in-out;
  transform: scale(.9);
  box-shadow: 0 4px 10px $danger;
}
.owl-stage {
  padding-top: 8%;
  padding-bottom: 8%;

}
.owl-carousel .owl-item.center {
  opacity: 1;
  transform: scale(1.1);
  border: 20px solid $danger;
  box-shadow: none;
}
.img-area {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -60px;
  left: 38%;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  overflow: visible;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}

#editCardModal {
  z-index: 1085;
}

#editTestimonial {
  z-index: 1085;
}

// //MODAL
// .modal-backdrop {
//   z-index: -1;
// }
// MEDIA QUERIES
@media (max-width: 986px) {
  .h1style h1 {
    text-align: center;
    margin-top: 5%;
  }
  .icons{
    margin-top: 5%;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block !important;
    text-align: center;
  }
  .downloadbg {
    background-color: #BF0D3D;
    width: 100vw;
    height: auto;
    overflow: hidden;
  }
    .download {
    background-image: none;
  }
}

@media (max-width: 864px){

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
// Animation

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframes for slight zoom-in effect */
@keyframes fadeZoom {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Sliding Animation */

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(-100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes appearRight {
    from {
        opacity: 0;
        transform: translateX(100px)
    }
    to {
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes appearDown {
    from {
        opacity: 0;
        transform: translateY(-100px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes appearUp {
    from {
        opacity: 0;
        transform: translateY(100px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}
/* Floating Animation */
@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); } /* Gentle floating effect */
}